In [57]:
import pandas as pd
from datetime import datetime

In [58]:
data_set = pd.read_csv('train.csv')

In [59]:
data_set.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

A)Handling missing values

In [60]:
values_missed = data_set.isnull().sum()
print(values_missed)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

Replace with the Mean,mode,Median or drop them.

In [61]:
data_set['Mileage'] = data_set['Mileage'].str.replace(r'\D', '', regex=True)
data_set['Mileage'] = pd.to_numeric(data_set['Mileage'], errors='coerce')
data_set['Mileage'].fillna(data_set['Mileage'].mean(), inplace=True)
data_set['Engine'] = data_set['Engine'].str.replace(r'\D', '', regex=True)
data_set['Engine'] = pd.to_numeric(data_set['Engine'], errors='coerce')
data_set['Engine'].fillna(data_set['Engine'].mean(), inplace=True)
data_set['Power'] = data_set['Power'].str.replace(r'\D', '', regex=True)
data_set['Power'] = pd.to_numeric(data_set['Power'], errors='coerce')
data_set['Power'].fillna(data_set['Power'].mean(), inplace=True)
data_set['Seats'].fillna(data_set['Seats'].mean(), inplace=True)
data_set.drop(columns=['New_Price'], inplace=True)
updated_values = data_set.isnull().sum()
print(updated_values)

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

i) The essential characteristics of a used car are included in the columns "Mileage," "Power," "Seats," and "Engine." When estimating an automobile's cost, condition, and performance, these characteristics are frequently crucial. ii) Removing these columns will make your dataset less dimensional. These columns can also improve how easily your analysis can be understood.
iii) Data may not be current or of high quality, which could introduce noise or mistakes into our study even if you were to impute missing values.
iv) So I have selected power, engine, seats, and mileage.

B) Removing the units, done already while performing mean, mode, median.

In [62]:
data_set.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,1967.0,1582.0,1262.0,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,887.0,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,2077.0,1248.0,8876.0,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,152.0,1968.0,1408.0,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,2308.0,1461.0,631.0,5.0,3.50

C) Change the categorical variable

In [63]:
updated_data = pd.get_dummies(data_set, columns=['Fuel_Type', 'Transmission'], drop_first=True)
updated_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1

D) Create one more New Feature

In [64]:
current_year = datetime.now().year
updated_data['Car_Age'] = current_year - updated_data['Year']
updated_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11

In [65]:
updated_data.to_csv('clean_train.csv', index = False)

E) Perform select, filter, rename, mutate, arrange and summarize with group by operations.

In [66]:
select = updated_data[["Name", "Owner_Type", "Price"]]
select.head()

                               Name Owner_Type  Price
0  Hyundai Creta 1.6 CRDi SX Option      First  12.50
1                      Honda Jazz V      First   4.50
2                 Maruti Ertiga VDI      First   6.00
3   Audi A4 New 2.0 TDI Multitronic     Second  17.74
4            Nissan Micra Diesel XV      First   3.50

In [67]:
filtered_data = updated_data[updated_data['Price'] > 10]
filtered_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,1136.0,2755.0,1715.0,8.0,17.50,0,0,0,8
11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,127.0,2179.0,1877.0,5.0,27.00,0,0,0,10
12,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Second,0.0,2179.0,115.0,5.0,17.50,0,0,0,12

In [68]:
renamed_data = updated_data.rename(columns={'Price': 'amount'})
renamed_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,amount,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11

In [69]:
# Mutated dataset
updated_data['miles_driven'] = updated_data['Kilometers_Driven'] / 1.6
updated_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,miles_driven
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,1967.0,1582.0,1262.0,5.0,12.50,0,0,1,9,25625.000
1,2,Honda Jazz V,Chennai,2011,46000,First,13.0,1199.0,887.0,5.0,4.50,0,1,1,13,28750.000
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,2077.0,1248.0,8876.0,7.0,6.00,0,0,1,12,54375.000
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,152.0,1968.0,1408.0,5.0,17.74,0,0,0,11,25418.750
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,2308.0,1461.0,631.0,5.0,3.50,0,0,1,11,54374.375

In [70]:
ordered_data = updated_data.sort_values(by='Price')
ordered_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Car_Age,miles_driven
1660,1713,Tata Nano Lx,Pune,2011,65000,Second,260.0,624.0,35.0,4.0,0.44,0,1,1,13,40625.00
2758,2847,Hyundai Getz GLS,Pune,2005,86000,Second,153.0,1341.0,83.0,5.0,0.45,0,1,1,19,53750.00
1577,1628,Maruti 800 Std BSIII,Jaipur,2004,12000,Second,161.0,796.0,37.0,4.0,0.45,0,1,1,20,7500.00
3039,3138,Maruti Zen LXI,Jaipur,1998,95150,Third,173.0,993.0,60.0,5.0,0.45,0,1,1,26,59468.75
3127,3228,Maruti 800 Std,Pune,2003,52000,First,161.0,796.0,37.0,4.0,0.50,0,1,1,21,32500.00

In [71]:
grouped_data = updated_data.groupby('Owner_Type')
summary_data = grouped_data.agg(Engine=('Engine', 'mean'), Kilometers_Driven=('Kilometers_Driven','sum'), Mileage=('Mileage', 'mean'), Power=('Power', 'mean'), Seats=('Seats', 'mean'), Price=('Price', 'mean'), Car_Age=('Car_Age', 'mean'))
summary_data

,Engine,Kilometers_Driven,Mileage,Power,Seats,Price,Car_Age
Owner_Type,,,,,,,
First,1615.612587,265534977,887.227041,2848.540601,5.284679,10.105076,10.004781
Fourth & Above,1857.194072,994833,138.625000,617.964959,5.910807,3.415000,16.500000
Second,1699.853058,65837418,778.802162,2365.086396,5.281554,7.839719,12.753514
Third,1745.185487,9156829,552.087379,1015.751838,5.364785,5.348058,15.854369